# The releng team is by default the owner of everything.
*             @eclipse-tm4e/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-tm4e/eclipsefdn-security
